@charset "utf-8";
//@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
//@import "compass/css3";
@import "mixinFallback";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */

@mixin margin($widthTop,$widthSides,$widthBottom, $widthLeft){
    width: $widthTop $widthSides $widthBottom $widthLeft
}

@mixin breakpoint ($width){
    @media (min-width: $width){
        display: block;
    }
}


.btn {
    @include transition-property(padding);
    @include transition-duration(600ms);
    @include transition-delay(0ms);
    @include transition-timing-function(linear);

    &.ease-in {
        @include transition-timing-function(ease-in)
    }

    &.ease-out {
        @include transition-timing-function(ease-out)
    }

    &.ease-in-out {
        @include transition-timing-function(ease-in-out)
    }

    &.green {
        @include transition-property(color)
    }

    &.animation {
        display: none;

        @include breakpoint(990px)
    }
}

body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

