/* line 8, ../sass/main.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

/* dies ist ein kommentar */
/* line 16, ../sass/main.scss */
#main {
  width: 990px;
  margin: 0 auto;
}

/* line 22, ../sass/main.scss */
input[type="text"], input[type="password"] {
  border: 1px solid #000;
  padding: 5px;
  margin: 10px 5px 10px 5px;
  width: 180px;
}

/* line 30, ../sass/main.scss */
input[type="submit"] {
  border: 1px solid #000;
  border-radius: 0;
  background-color: #fafafa;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
}

/* line 38, ../sass/main.scss */
label {
  margin-left: 5px;
}

/* line 42, ../sass/main.scss */
.passwordField {
  width: 300px;
  float: left;
}

/* line 47, ../sass/main.scss */
.passwordFeedback {
  width: 250px;
  float: left;
}

/* line 52, ../sass/main.scss */
.feedback {
  margin: 10px 5px 10px 5px;
  font-size: 11px;
  font-weight: 600;
}
/* line 57, ../sass/main.scss */
.feedback.error {
  color: #d9534f;
}
/* line 61, ../sass/main.scss */
.feedback.warning {
  color: #f0ad4e;
}
/* line 65, ../sass/main.scss */
.feedback.success {
  color: #5cb85c;
}

/* line 72, ../sass/main.scss */
.strengthIndicator {
  margin: 10px 5px 10px 5px;
  width: 200px;
  padding: 5px;
  height: 13px;
  border: 1px solid #d3d3d3;
}

/* line 80, ../sass/main.scss */
.strengthIndicator::before {
  content: "";
  display: block;
  height: 100%;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 94, ../sass/main.scss */
.passwordWrapper::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

/* line 101, ../sass/main.scss */
.error .strengthIndicator::before {
  width: 10%;
  background-color: #d9534f;
}

/* line 106, ../sass/main.scss */
.warning .strengthIndicator::before {
  width: 60%;
  background-color: #f0ad4e;
}

/* line 111, ../sass/main.scss */
.success .strengthIndicator::before {
  width: 100%;
  background-color: #5cb85c;
}

/* line 117, ../sass/main.scss */
.feedback.error, .feedback.warning, .feedback.success {
  display: none;
}

/* line 121, ../sass/main.scss */
.error .feedback.error {
  display: block;
}

/* line 125, ../sass/main.scss */
.warning .feedback.warning {
  display: block;
}

/* line 129, ../sass/main.scss */
.success .feedback.success {
  display: block;
}
